$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1920px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

$content-width: 960px;
$desktop-padding: 20px;
$tablet-padding: 60px;
$mobile-padding: 25px;

$laptop: "max-width: #{$laptop-width}";


$reserve-font-family: "Arial", sans-serif;
$font: "Open Sans", $reserve-font-family;
$header-font: "Dm Serif Display", serif;

$style-change-duration: 0.2s;
$font-family: 'Open Sans', $reserve-font-family;

$white: #ffffff;
$text-color: #0C1D39;
