@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Playfair Display Regular"),
    local("PlayfairDisplay-Regular"),
    url("../font/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../font/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Playfair Display Bold"),
    local("PlayfairDisplay-Bold"),
    url("../font/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../font/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Helvetica Regular"),
    local("Helvetica-Regular"),
    url("../font/Helvetica-Regular.woff2") format("woff2"),
    url("../font/Helvetica-Regular.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Helvetica Boldr"),
    local("Helvetica-Bold"),
    url("../font/Helvetica-Bold.woff2") format("woff2"),
    url("../font/Helvetica-Bold.woff") format("woff");
}
