@font-face {
  font-family: "Dm Serif Display";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../font/DMSerifDisplay-Regular.woff2") format("woff2"), url("../font/DMSerifDisplay-Regular.woff") format("woff");
}
