.footer {
    width: 100%;
    color: $text-color;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1200px;
        height: 1px;
        background: #ADB0BE;
    }

    & a {
        font-weight: normal;
        font-size: 16px;
line-height: 150%;
/* or 24px */

letter-spacing: 0.03em;
        color: inherit;



        &:last-of-type {
            width: 130px;
            text-align: right;
        }
    }
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 78px 20px;
    // border-top: 1px solid #ADB0BE;
}
