.friends {
    padding-top: 170px;
    padding-bottom:130px;
}

.friends__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    margin-left: 80px;
    border-image-slice: 1;
    padding-right: 90px;
}

.friends__item {
    display: flex;
    align-items: center;
    margin-right: 5%;;
    &:nth-child(4n+1) {
        width: 14%;

        & img {
            width: auto;
            max-width: 147px;
            height: auto;
            opacity: 0.6;
        }
    }

    &:nth-child(4n+2) {
        width: 16%;

        & img {
            width: auto;
            max-width: 152px;
            height: auto;
            opacity: 0.6;
        }
    }

    &:nth-child(4n+3) {
        width: 20%;

        & img {
            width: auto;
            max-width: 210px;
            height: auto;
            opacity: 0.6;
        }
    }
    &:nth-child(4n+4) {
        width: 20%;
        margin-right: 0;

        & img {
            width: auto;
            max-width: 210px;
            height: auto;
            opacity: 0.6;
        }
    }
    flex-direction: column;
    justify-content: center;
    margin-bottom: 65px;
}

.friends__title {
    margin: 0;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.035em;
    color: $text-color;
    margin-bottom: 90px;
}

@media (max-width: 1440px) {
    .friends {
        padding-top: 11.8vw;
        padding-bottom: 9.1vw;
    }

    .friends .friends__list img {
        width: 100%;
    }

    .friends__title {
        margin-bottom: 6.25vw;
    }

    .friends__item {
        margin-bottom: 4.5vw;
    }
}

@media (max-width: 1440px) {
    .friends {
        padding-top: 11.8vw;
        padding-bottom: 9.1vw;
    }

    .friends .friends__list {
        margin-left: 0;
    }

    .friends__title {
        margin-bottom: 6.25vw;
        line-height: 125%;
    }

    .friends__item {
        margin-bottom: 4.5vw;
    }
}

@media (max-width: 768px) {
    .friends__title {
        font-size: 36px;
    }
}

@media (max-width: 500px) {
    .friends {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .friends .friends__list {
        padding: 0;
    }

    .friends__title {
        margin-bottom: 46px;
    }

    .friends__item {
        margin-bottom: 30px;
    }
}

