.header {
    position: relative;
    width: 100%;
    z-index: 2;
    position: relative;
}

.header__portfolio-link {
    font-size: 14px;
    line-height: 150%;
    color: $white;
    width: 130px;
}

.header__menu { 
    box-sizing: border-box;
    width: 100%;
    max-width: 1240px;
    padding: 49px 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    & a {
        font-size: 14px;
        line-height: 150%;
        color: white;
    }
}

.header__burder {
    display: none;
}

@media (max-width: 768px) {
    .header__burder {
        display: block;
        background: transparent;
        border: none;
        box-shadow: none;
        position: relative;
        z-index: 4;
    }

    .header__lang-list {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: $text-color;
        min-width: 80px;
        padding-top: 100px;
        padding-bottom: 30px;
        text-align: center;
    }

    .header__portfolio-link {
        position: absolute;
        top: 620px;
        right: 20px;
        text-align: right;
    }
}