.page-body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-family: $font-family;
  background: linear-gradient(77.26deg, #DEE2E5 0%, #F8F8F8 86.07%);
  position: relative;
}

.page-body .decor {
  bottom: -10px;
}
// @include mobile {
//   .page-body {
//     font-size: 14px;
//     line-height: 17px;
//   }
// }
