.page-body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-family: $font-family;
  background: linear-gradient(77.26deg, #DEE2E5 0%, #F8F8F8 86.07%);
  position: relative;
}

.color {
  transition: background 0.1s linear;
  background: $text-color;
}
.page-body .decor {
  bottom: 50px;
}

.page-body--portfolio {
  background: $text-color;

  & .services {
    color: $white;
  }

  & .feadback {
    color: $white;
    border: none;

    & a {
      border-color: $white !important;
    }
  }

  & .feadback__field {
    border-color: white;
  }

  & .header__menu {
    border-bottom: 1px solid $white;
  }

  & .feadback__button {
    border-color: white;
  }

  & .footer {
    color: $white;
  }

  & .footer__logo img{
    margin-top: -5px;
    width: 200px;
  }

  & .decor {
    bottom: 0;
    opacity: 0.05;
  }

  & .services__item-arrow {
    background: #162743;
  } 

  & .services__item-header {
    background: #162743;
    flex-direction: column;
    min-height: 120px;
    bottom: -30px;
    & span {
      display: block;
      color: $white;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.035em;
    }
    & h3 {
      padding-bottom: 17px;
      color: $white;
      border: none;
      position: relative;

      &::after {
        position: absolute;
        content:"";
        width: 100px;
        height: 1px;
        background: white;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    
  }
  & .services__item {

    margin-bottom: 50px;
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
    & a:hover {
      -webkit-text-fill-color: white;
      & span {
        display: block;
        color: $white;
      }
      & h3 {
        padding-bottom: 17px;
        color: $white;
        border: none;
      }
    }
  }
  & .services {
    padding-top: 100px;
    padding-bottom: 50px;

  } 

  & .services .wrapper {
    display: flex;
    flex-direction: column;
  }

  & .services__list {
     margin-top: 0;
     margin-bottom: 0;
     justify-content: flex-start;
  } 
}

@media (max-width: 1440px) {
  .page-body--portfolio {
    & .services__item {

      margin-bottom: 3.47vw;
      margin-right: 2.36vw;
  }
  }
}
@media (max-width: 768px) {
  .page-body--portfolio {
    & .header__portfolio-link {
      display: none;
    }

    & .services {
      padding: 75px 0;
    }
  }
  
}
@media (max-width: 640px) {
  .page-body--portfolio {

    & .services__list {
      justify-content: space-between;
    }
    & .services__item {

      margin-bottom: 50px;
      margin-right: 0;
  }
  }
}


@media (max-width: 500px) {
  .page-body .decor {
    bottom: 20px;
    opacity: 0.4;
  }
}
