.process {
    background: #0C1D39;
    color: $white;
    padding-top: 130px;
    padding-bottom: 170px;
}

.process__header {
    font-family: 'DM Serif Display';
    font-weight: normal;
    font-size: 50px;
    line-height: 120%;
    margin-top: 0;
}

.process__video-list,
.process__text-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.process__text-list {
margin-bottom: 95px;
}

.process__portfolio-link {
    font-family: 'DM Serif Display';
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.035em;
    color: $white;
    border-bottom: 1px solid $white;
}

.process__item{
    max-width: 360px;
    & h3 {
        margin-top: -10px;
        font-family: 'DM Serif Display';
        font-weight: normal;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.025em;
        max-width: 390px;
    }

    & a {
        display: block;
        width: 100%;
        max-width: 360px;
        max-height: 228px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        & img {
            transition: 0.5s;
            transform: scale(1.1);
        }

        &::after {
            content:"";
            position: absolute;
            width: 74px;
            height: 74px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../img/play-button.svg') no-repeat 0 0;
        }

        &:hover img {
            transition: 0.5s;
            transform: scale(1);
        }

        & p {
            font-size: 18px;
line-height: 150%;
/* or 27px */

letter-spacing: 0.025em;
        }
    }
}

.process .process__image-wrapper--big {

    & a {
        display: block;
        width: 100%;
        max-width: 1200px;
        max-height: 540px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        & img {
            transition: 0.5s;
            transform: scale(1.1);
            width: 100%;
            height: auto;
        }

        &::after {
            content:"";
            position: absolute;
            width: 74px;
            height: 74px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../img/play-button.svg') no-repeat 0 0;
        }

        &:hover img {
            transition: 0.5s;
            transform: scale(1);
        }
    }
    width: 100%;
}

.process__image-wrapper--two {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & a {
        width: 100%;
        max-width: 540px;
        display: block;
        max-height: 360px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        
        &:first-of-type {
            margin-right: 30px;
        }

        & img {
            transition: 0.5s;
            transform: scale(1.1);
            width: 100%;
            height: auto;
        }

        &::after {
            content:"";
            position: absolute;
            width: 74px;
            height: 74px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../img/play-button.svg') no-repeat 0 0;
        }

        &:hover img {
            transition: 0.5s;
            transform: scale(1);
        }
    }
}
@media (max-width: 1440px) {
    .process {
        padding-top: 10.6vw  !important;
        padding-bottom: 10.6vw;
    }
}
@media (max-width: 1160px) {
    .process__text-list {
        flex-direction: column;
        margin-bottom: 0;
    }

    .process__item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;

        & h3 {
            width: 100%;
            max-width: 100%;
        }

        & br {
            display: none;
        }
    }

    .process__video-list {
        flex-direction: column;

        & .process__item {
            display: flex;
            justify-content: center;
            margin-bottom: 0;


            & a:first-of-type {
                margin-right: 30px;
            }

            & a {
                margin-bottom: 30px;

                & img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .process .wrapper {
        display: flex;
        flex-direction: column;
    }

    .process__portfolio-link {
        align-self: center;
        margin-top: 20px;
    }
    
}

@media (max-width: 768px){
    .process__header {
        font-size: 36px;
        line-height: 125%;
    }

    .process__item h3 {
        font-size: 25px;
    }

    .process__image-wrapper--two {
        flex-direction: column;
        align-items: center;

        & a:first-of-type {
            margin-right: 0;
        }
    }
}

@media (max-width: 600px) {
    .process__video-list {

        & .process__item {
            flex-direction: column;
            align-items: center;


            & a:first-of-type {
                margin-right: 0;
            }
        }
    }
   
}

@media (max-width: 500px) {
    .process{
        padding: 75px 0;
    }

    .process__image-wrapper--two {

        & a {
            margin-bottom: 30px;
        }
    }
   
}