.skin {
    margin-top: -125px;
    // position: relative;
    background: url('../img/skin.jpg.jpg') no-repeat center 0;
    background-size: cover;
    height: 100vh;
    min-height: 780px;
    display: flex;

    &--main {
        background-image: url('../img/skin-main.jpg');
    }
}

.skin__title {
    box-sizing: border-box;
    width: 100%;
    font-family: 'DM Serif Display';
    font-size: 72px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: $white;
    font-weight: normal;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 150px;
    align-self: flex-end;
}

.skin__social-list {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.skin--main .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skin--main .skin__title {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.035em;
}

.skin__info {
    margin: 0;
    color: $white;
    font-size: 18px;
    line-height: 150%;
    margin-top: 5px;
}