.skin {
    margin-top: -125px;
    background: $text-color;
    background-size: cover;
    height: 100vh;
    min-height: 780px;
    display: flex;
    position: relative;
    overflow: hidden;

    &--main {
        // background-image: url('../img/skin-main.jpg');
    }

    &--360 {
        background-image: url('../img/skin-360.jpg');
    }

    &--vr{
        background-image: url('../img/skin-vr.jpg');
    }

    &--drone{
        background-image: url('../img/skin-dron.jpg');
    }

    &--3d{
        background-image: url('../img/skin-3d.jpg');
    }
}

.skin__title {
    box-sizing: border-box;
    width: 100%;
    font-family: 'DM Serif Display';
    font-size: 72px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: $white;
    font-weight: normal;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 120px;
    align-self: flex-end;
}

.skin__social-list {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.skin--main .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skin--main .skin__title {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.035em;
}

.skin__info {
    margin: 0;
    color: $white;
    font-size: 18px;
    line-height: 150%;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .skin__title {
        font-size: 55px;
    }
    .skin--main {
       & .skin__title {
        font-size: 55px;
       }
    }
 }

@media (max-width: 768px) {

   .skin {
       min-height: 667px;
       height: 667px;
   }

   .skin__social-list {
       bottom: 20px
   }

   .skin--main {
    & .skin__title {
     font-size: 35px;
    }

    & .skin__info {
        font-size: 16px;
       }
 }
 .skin__title {
     margin: 0;
    font-size: 35px;
    align-self: center;
}
}

@media (max-width: 500px) {
    .skin--main {
        background-image: url('../img/skin-main-mob.jpg');

     & .skin__title {
        line-height: 120%;
        text-align: center;
        margin-bottom: 20px;
    }
 
     & .skin__info {
        max-width: 250px;
        font-size: 16px;
        text-align: center;
        line-height: 150%;
        margin-left: auto;
        margin-right: auto;
        }
    }

    .skin__title {
        line-height: 120%;
        text-align: center;
        margin-bottom: 20px;
    }
}